*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: montserrat;
  }
  nav{
    background: black;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: black;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #0082e6;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    height: calc(100vh - 80px);
  }
  
  
  .container {
    position: relative;
  }
  
  
  .header-logo {
    height: 60px;
    width: auto;
    margin-left: 25px;
    float: left;
  }
  
  html {
    background-color: black;
    scroll-behavior: smooth;
  }
  
  
  
  
  .text-block {
    position: absolute;
    bottom: 120px;
    right: 210px;
    font-size: 100px;
    font-size: 5vw;
    color: #C8B273;
    padding-left: 120px;
    padding-right: 0px;
    
  }
  
  .header-button {
    font-weight: 100;
    padding: 4px 24px;
    border-radius: 4px;
    background-color: #C8B273;
    border: white;
    font-size: xx-large;
    color: black;
    cursor: pointer;
    font-style: normal;
    max-width: 100%;
    flex: 1;
    
   
    
  }
  
  
  
  lastfooter{
    font-size: small;
  }
  
  footer p {
    padding: 24px;
    text-align: center;
    color: black;
    background-color: #C8B273;
  }
  
  h1 {
  text-align: center;
  color: black;
  
  }
  
  p {
   
      color: #C8B273;
      text-align: left;
      font-size: medium;
      
  }

  h1 {
   
    color: #C8B273;
    text-align: center;
    font-size: x-large;
    
}

h2 {
   
  color: #C8B273;
  text-align: center;
  font-size: xx-large;
  
}
h3 {
   
  color: black;
  text-align: left;
  font-size: xx-small;
  
}

.container {
  display: grid;
  align-items: center; 
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
 }
 
 img {
   max-width: 100%;
   max-height:100%;
   float: left;
   margin-right: 20px;
   
 }
 
 .text {
   font-size: 70px;
 }

 @font-face {
  font-family: 'Gilroy';
  src: url('/Gilroy/Gilroy-ExtraBold.otf') format('truetype');
}

body {
  font-family: 'Gilroy', sans-serif;
}
 
.image {
  position: left;
}